{block content}
    <?php print(STR_261); ?> : {$user->account} <br />
    <?php print(STR_263); ?>: {$user->getUserInfo()->username} <br />
{/block}

{block head}
<link rel="stylesheet" href="{$basePath}/css/admin2.css">
{/block}